* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
}
.container {
  margin: 0 9%;
  display: flex;
}
.main-header {
  width: 21%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  width: 47%;
  border-left: solid 0.4px rgba(156, 156, 156, 0.2);
  border-right: solid 0.4px rgba(156, 156, 156, 0.2);
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.btn-primary {
  background-color: rgb(29, 155, 240);
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  align-self: flex-start;
  padding: 1.6rem 8.8rem;
  border-radius: 5rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #1a91da;
}

.right-side {
  width: 32%;
  display: flex;
  padding: 0.4rem 3.2rem;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}
.header {
  width: 100%;
}

.search-box {
  /* margin-top: 1rem;
  width: 100%;
  background-color: #f1f3f5;
  border-radius: 5rem;
  padding: 1.4rem 2.4rem; */
  position: relative;
  height: 4.8rem;
  width: 100%;
  border-radius: 5rem;
}

.search {
  width: 100%;
  position: absolute;
  background-color: #f1f3f5;
  border: none;
  border-radius: 5rem;
  padding: 1.4rem 2.4rem;
  text-indent: 3rem;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.search:focus-within {
  outline: 1px solid rgb(111, 143, 216);
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}
.search-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
  font-size: 2.5rem;
}
.search-options {
  width: 90%;
  height: 10rem;
  left: 50%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  top: 5.16rem;
  z-index: 9999;
  border-radius: 8px;
  transform: translateX(-50%);
  background-color: #fff;
  position: absolute;
}
.search-desc {
  position: absolute;
  top: 20%;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #666;
  font-weight: 300;
}

/* TRENDS */
.hidden {
  opacity: 0;
  pointer-events: auto;
  visibility: hidden;
}
.trends {
  background-color: #f8f8f8;
  border-radius: 15px;
  overflow: hidden;
}
.secondary-heading {
  padding: 1.8rem;
  font-size: 2rem;
}
.trends-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.trends-list a:link {
  text-decoration: none;
}
.trend-item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
}
.trend-item:hover {
  background-color: #eee;
  cursor: pointer;
}
.trends-list li:focus-within {
  box-shadow: inset 0 0 0 1px #60b5e9;
  background-color: #eee;
}

.trend-subheading {
  color: #555;
  font-size: 1.2rem;
}
.heading-tertiary {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
}
.trend-tweets {
  color: #555;
  font-size: 1.2rem;
}
.trends-icon {
  position: absolute;
  right: 5%;
  color: #333;
  border-radius: 50%;
  padding: 0.3rem;
  transition: all 0.2s;
}
.trends-icon:hover {
  background-color: rgb(214, 226, 244);
}
.trends-icon:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #60b5e9;
  background-color: #ddd;
}
.trends-icon:focus .ph-dots-three {
  color: #1a91da;
}
.trends-icon::after {
  content: "More";
  position: absolute;
  bottom: -60%;
  font-size: 1rem 1.6rem;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: #555;
  color: #fff;
  opacity: 0;
  transition-duration: 0.2s;
}
.trends-icon:hover::after {
  opacity: 1;
}
.ph-dots-three {
  font-size: 2.8rem;
  font-weight: 700;
}
.ph-dots-three:hover {
  color: #1a91da;
}
.trends-more {
  display: block;
  padding: 2.2rem 1.5rem;
  text-decoration: none;
  color: rgb(37, 135, 248);
  font-size: 1.5rem;
  font-weight: 400;
}
