* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
}
.container {
  margin: 0 7% 0% 9%;
  display: flex;
}
.main-header {
  width: 21%;
  height: 100vh;
  display: flex;
  position: fixed;

  flex-direction: column;
  justify-content: space-between;
}
main {
  width: 47%;
  border-left: solid 0.4px rgba(156, 156, 156, 0.2);
  margin-left: 21%;
  border-right: solid 0.4px rgba(156, 156, 156, 0.2);
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.btn-primary {
  background-color: rgb(29, 155, 240);
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  align-self: flex-start;
  padding: 1.6rem 8.8rem;
  border-radius: 5rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #1a91da;
}

.right-side {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
  position: relative;
}
.header {
  width: 100%;
}
.sticky {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 0.4rem 3.2rem;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255));
  z-index: 99999;
  /* padding: 0.4rem 0; */
  backdrop-filter: blur(30px);
}

.search-box {
  /* margin-top: 1rem;
  width: 100%;
  background-color: #f1f3f5;
  border-radius: 5rem;
  padding: 1.4rem 2.4rem; */
  position: relative;
  height: 4.8rem;
  border-radius: 5rem;
}

.search {
  width: 100%;
  position: absolute;
  background-color: #f1f3f5;
  border: none;
  border-radius: 5rem;
  padding: 1.4rem 2.4rem;
  text-indent: 3rem;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.searchClose {
  font-family: "Arial";
  background-color: #1a91da;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.search:focus-within {
  outline: 1px solid rgb(111, 143, 216);
  background-color: #fff;

  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}
.search-box:focus-within .search-icon {
  color: #1a91da;
}
.search-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
  font-size: 2.5rem;
}
.search-options {
  width: 90%;
  height: 10rem;
  left: 50%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  top: 5.16rem;
  z-index: 9999;
  border-radius: 8px;
  transform: translateX(-50%);
  background-color: #fff;
  position: absolute;
}
.search-desc {
  position: absolute;
  top: 20%;
  left: 50%;

  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #666;
  font-weight: 300;
}

/* TRENDS */
.hidden {
  opacity: 0;
  pointer-events: auto;
  visibility: hidden;
}

.right-box {
  background-color: #f8f8f8;
  border-radius: 15px;
  /* overflow: hidden; */
  margin: 0rem 3.2rem;
}

.secondary-heading {
  padding: 1.8rem;
  font-size: 2rem;
}
.right-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.right-list a:link {
  text-decoration: none;
}
.trend-item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
}
.trend-item:hover {
  background-color: #eee;
  cursor: pointer;
}
.right-list li:focus-within {
  box-shadow: inset 0 0 0 1px #60b5e9;
  background-color: #eee;
}

.trend-subheading {
  color: #555;
  font-size: 1.2rem;
}
.heading-tertiary {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
}
.trend-tweets {
  color: #555;
  font-size: 1.2rem;
}
.trends-icon {
  position: absolute;
  right: 5%;
  color: #333;
  border-radius: 50%;
  padding: 0.3rem;
  transition: all 0.2s;
}
.trends-icon:hover {
  background-color: rgb(214, 226, 244);
}
.trends-icon:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #60b5e9;
  background-color: #ddd;
}
.trends-icon:focus .ph-dots-three {
  color: #1a91da;
}
.trends-icon::after {
  content: "More";
  position: absolute;
  bottom: -60%;
  font-size: 1rem 1.6rem;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: #555;
  color: #fff;
  opacity: 0;
  transition-duration: 0.2s;
}
.trends-icon:hover::after {
  opacity: 1;
}
.ph-dots-three {
  font-size: 2.8rem;
  font-weight: 700;
}
.ph-dots-three:hover {
  color: #1a91da;
}
.trends-more {
  display: block;
  padding: 2.2rem 1.5rem;
  text-decoration: none;
  color: rgb(37, 135, 248);
  font-size: 1.5rem;
  font-weight: 400;
}
/* ***************** */
/* Follow component */
/* ***************** */
.img-width {
  width: 5rem;
}
.follow-box {
  display: flex;
  gap: 1.2rem;
}
.follow-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.follow-header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.follow-additional-info {
  display: flex;
  gap: 1.2rem;
}

.follow-text-box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.follow-subheading {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}

.follow-heading:hover {
  text-decoration: 1px solid underline;
  cursor: pointer;
}
.follow-header i {
  font-size: 1.6rem;
  color: #1a91da;
}

.follow-promoted {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.follow-promoted i {
  font-size: 1.8rem;
  color: #666;
}
.follow-item {
  gap: 0.3rem;
}
.heading-quaternary {
  font-size: 1.2rem;
  font-weight: 400;
}
.follow-img {
  border-radius: 50%;
  position: relative;
}
.follow-img::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.2s;
}
.follow-img:hover.follow-img::after {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Follow BUTTON */
.btn {
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}
.btn-follow {
  background-color: #222;
  color: #fff;
  outline: solid 1px transparent;
}
.btn-follow:hover {
  background-color: #333;
}
.btn-following {
  background-color: rgb(248, 248, 248);
  outline: solid 0.1px rgba(128, 128, 128, 0.227);
  color: #333;
}
.btn-following:hover {
  color: #f03e3e;
  outline: solid 0.1px rgba(243, 82, 82, 0.313);
  background-color: #fcd7d7;
}
/* ***************** */
/* FOOTER */
/* ***************** */
footer {
  padding: 0 1.5rem 10rem 1.5rem;
  margin: 0rem 3.2rem;
}
.footer-links {
  display: flex;
  column-gap: 1.4rem;
  row-gap: 0.4rem;
  font-size: 1.3rem;
  flex-wrap: wrap;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.footer-links a {
  text-decoration: none;
  color: #777;
  font-weight: 400;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-links a[href="#more"] {
  position: relative;
}
.footer-links a[href="#more"]::after {
  content: "...";
  position: absolute;
  margin-left: 0.4rem;
  transform: translateY(-25%);
}
.copyright {
  color: #777;
  font-size: 1.3rem;
}
