.img-box {
  display: block;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0.1rem 0 1rem 0;
  transition: all 0.1s;
}
.img-box:hover {
  background-color: #e8f6fe;
}
.img-logo {
  width: 2.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.2rem;
}
.nav-link:link,
.nav-link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #343a40;
  font-size: 2rem;
}
.nav-item {
  background-color: #fff;
  display: flex;
  gap: 1.6rem;

  align-items: center;
  align-self: flex-start;
  padding: 0.8rem 2.4rem 0.8rem 1.2rem;
  border-radius: 5rem;
  transition: all 0.1s ease-in-out;
}

.nav-link:hover .nav-item {
  background-color: #e9ecef;
}
.nav-link:focus span {
  font-weight: 700;
}
.nav-link:focus path:nth-child(2),
.nav-link:focus line:nth-child(2),
.nav-link:focus circle:nth-child(2) {
  fill: black !important;
}

.nav-list svg {
  width: 3rem;
  height: 3rem;
}

/* ************************* */
/* PROFILE BOX */
/* ************************* */
.profile-box {
  margin-bottom: 1.6rem;
  width: 100%;
}
.profile-box .nav-item {
  gap: 1rem;
}
.profile-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #343a40;
}
.profile-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile-name {
  font-size: 1.4rem;
  font-weight: 600;
}
.profile-user {
  font-size: 1.5rem;
  color: #343a40;
  font-weight: 300;
}
.profile-more {
  width: 3rem;
  height: 3rem;
  margin-left: 0.2rem;
  letter-spacing: -5px;
}
.bell {
  position: relative;
}
.bell::before {
  content: "1";
  background-color: rgb(29, 155, 240);
  position: absolute;
  top: 0;
  left: 12%;

  color: #fff;
  height: 1.4rem;
  width: 1.4rem;
  text-align: center;
  padding: 0.2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  border: 2px solid #fff;
}
